* {
    margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.content {
    background-color: rgba(245, 245, 245, 0.979);
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #000000;
}

#todo-input {
    margin-right: 10px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;
    padding:10px;
}

#add {
    padding:10px;
    background-color: rgb(102, 168, 3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#add:hover,
#add:focus {
    background-color: rgb(133, 205, 26);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.delBtn {
    background-color: rgb(230, 4, 4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 5px;
}

.delBtn:hover,
.delBtn:focus {
    background-color: rgb(189, 6, 6);
}


.task-text {
    word-break: break-word; 
     margin-right: 10px; }
